/*common style*/

body{
    font-family: 'Open Sans', sans-serif;
}
.text-main{
    color: rgb(108, 3, 206);
}
.sec-t{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: darkblue;
}
.sec-dp{
    text-align: center;
    font-size: 20px;
    color: darkgreen;
}
/* header style */
.hdr{
    background-color: rgb(224, 221, 221);
}
.btn-main{
    border-radius: 5px;
    background: rgb(240, 103, 133);
    border: 30px;
    font-size: 20px;
    color: rgb(17, 17, 17);
    font-weight: 700;
    pad: 15px 30px;
    
}
/*nav releted style*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style:none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: blue;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bnr-cnt{
    max-width: 500px;
}
.banner .pp{
    width: 500px;
}
.bnr-w{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.bnr-t{
    font-size: 65px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
    color: darkorchid;
}
.bnr-d{
    margin-bottom: 50px;
    color: blue;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section */
.about{
    padding: 130px;
    border-radius: 10px;
    margin: 130px 200px;
    background-color: darkgrey;
}
.about-ic{
    display: flex;
    justify-content: space-around;
}
.about-i-data{
    text-align: center;
}
#widd{
    padding: 30px 150px;
}
/* skills style */
.skills-con{
    display: flex;
     gap: 20px;
}
.skills{
    padding: 30px;
    margin: 160px;
    background-color:rgb(41, 153, 153);
    box-shadow: chocolate 10px 10px 10px;
}
.skills-d{
    color :azure;
}
/* resume section */
.r-c-t{
    font-size: 75px;
    font-weight: 800;
    background-color: rgb(144, 236, 206);
    margin: 0 500px 20px 10px;
    box-shadow: 10px 10px 10px red;
    color: darkmagenta;
    font-style:italic;
}
.dnld{
    text-align: center;
    margin-top: 150px;
}
.r-hding{
    font-size: 40px;
    margin-bottom: 5px;
    color: blueviolet;
}
.r-sub-hding{
    font-size: 20px;
    margin: 0 250px 0 75px;
    color: blue;
}
.r-item{
    margin: 20px 450px 0 10px;
    background-color:rgb(175, 194, 230);
    box-shadow:blueviolet 10px 10px 10px;
}
/* footer style */
footer {
    display: flex;
    padding: 130px 200px 0 50px;
    gap: 100px;
    background-color: floralwhite;
}
.ftr-item{
    width: 50%;
}
/* form style */
.input, input, textarea{
    display: block;
    margin-bottom: 25px;
    padding: 10px 35px;
    font-size: 16px;
    border-radius: 5px;
    border: 5px;
}
